@import "tailwindcss";

@keyframes pulse-glow {
  0% {
    box-shadow: 0 0 20px 3px rgba(184, 124, 237, 0.3);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 25px 5px rgba(184, 124, 237, 0.5);
    transform: scale(1.02);
  }
  100% {
    box-shadow: 0 0 20px 3px rgba(184, 124, 237, 0.3);
    transform: scale(1);
  }
}

@utility pause-animation {
  animation-play-state: paused;
}
